name: Deploy to Kubernetes

on:
  workflow_run:
    workflows:
      - API Tests & Docker Image
      - UI Docker Image
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'latest'

    - name: Set up Kubeconfig
      env:
        KUBECONFIG: ${{ secrets.KUBECONFIG }}
      run: |
        mkdir -p ~/.kube
        echo "$KUBECONFIG" > ~/.kube/config
        export KUBECONFIG=~/.kube/config

    - name: Deploy Backend
      run: |
        kubectl apply -f k8s/quiz-api.yaml

    - name: Deploy Frontend
      run: |
        kubectl apply -f k8s/quiz-ui.yaml
    - name: Verify Deployment
      run: |
        kubectl get pods
        kubectl get services